body {
	background-color: #98D3FA;
}

.nav_buttons button {
	float:right;
	margin: 1em;
}

.container {
	width: 85%;
	height: 50em;
	border: 1px solid black;
	border-radius: 1em;	
	background-color: white;
}

.user_welcome {
	text-align: center;
	position: relative;
	top: 3em;
}

.nav_welcome_message {
	float: left;
	padding-left: 1em;
}

#sign_up_label {
	text-align: center;
}

#sign_in_label {
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: black;
}

.user_profile_pic {
	display: inline-block;
	width: 15em;
	height: 16em;
	border: 1px solid black;
}

.user_profile_stats {
	display: inline-block;
	width: 15em;
	height: 16em;
	border: 1px solid black;
}

.user_page_right_column {
	padding-right: 10em;
	position: relative;
	bottom: 12em;
}

#user_stories {
	float: right;
	clear: both;	
	width: 30em;
}

#user_stories h2 {
	text-align: center;
}

#user_roads {
	float: right;
	clear: both;
	width: 30em;
}

#user_roads h2 {
	text-align: center;
}

#user_favorites {
	width: 30em;
	padding-left: 2em;
	padding-top: 2em;
}

#user_favorites h2 {
	text-align: center;
}

