<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<nav class="navbar navbar-default" role="navigation">
  <% if session[:user_id] %>
    <h1 class='nav_welcome_message'>Storyward-->  Welcome, <%=username%></h1>
    <div class='nav_buttons'>
      <a href="/sign_out"><button class="btn btn-default navbar-btn">Sign Out</button></a>
      <a href="/browse_stories"><button class="btn btn-default navbar-btn">Browse</button></a>
      <a href="/protected/create_story"><button class="btn btn-default navbar-btn">Create New Story</button></a>
      <a href="/protected/user_profile/:user_id"><button class="btn btn-default navbar-btn">Home</button></a>
    </div>
  <% else %>
    <h1 class='nav_welcome_message'>Storyward--></h1>
    <div class='nav_buttons'>
      <a href="/sign_up"><button class="btn btn-default navbar-btn">Sign Up</button></a>
      <a href="/sign_in"><button class="btn btn-default navbar-btn">Sign In</button></a>
    </div>
  <% end %>
</nav>
<body>
  <div class='container'>
  <%= yield %>
  </div>
</body>
</html>
