<h1>Sign Up</h1>

<form id="sign-up" method="post" action="/sign_up">
  <label class="label" for="name">Name</label>
  <input type="text" name="user[username]" placeholder='5-20 Characters'>
  <br>

  <label class="label" for="email">Email</label>
  <input type="email" name="user[email]" placeholder='me@example.com'>
  <br>

  <label class="label" for="password">Password</label>
  <input type="password" name="user[password]" placeholder="at least 5 characters">
  <br>

  <div class="submit"><input type="submit" value="Sign Up"></div>
</form>