<h1 id='sign_up_label'>Sign Up</h1>

<form class='form-horizontal' role='form' method="post" action="/sign_up">
  <div class='form-group'>
    <label class="col-lg-2 control-label" for="inputname">Username</label>
    <div class="col-lg-10">
      <input type="text" class='form-control' id='inputname' name="user[username]" placeholder='5-20 Characters'>
    </div>
  </div>

<div class="form-group">
    <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" name='user[email]' class="form-control" id="inputEmail1" placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
    <div class="col-lg-10">
      <input type="password" name='user[password]'class="form-control" id="inputPassword1" placeholder="Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
</form>